<ion-view title="AquaTech" id="page1" style="bar-dark">
  <ion-content class="has-header">
    <!-- Cor da navbar = #01579b-->
    <div class="button-bar">
    <button class="button button-calm button-full" style="margin:0;height: 31vh;padding-top:10px;background-color:#0277bd;border-radius:0px;" ng-click="buttonWaterLevel()">
      <img src="img/yBcvoEeqRkSb24oWG6tn_Water-96.png">
      <p>Nivel de Água</p>
    </button>
    <button class="button button-balanced button-full" style="margin:0;height: 31vh;padding-top:10px;background-color:#0288d1;border-radius:0px;" ng-click="buttonScheduleFood()">
      <img src="img/H8D6hbGiTiGZWVPfXKwD_FishFood-100.png">
      <p>Programar comida</p>
    </button>
  </div>
  <div class="button-bar">
    <button class="button button-royal button-full" style="margin:0;height: 31vh;align-text:left;padding-top:10px;background-color:#0288d1;border-radius:0px;" ui-sref="temperature">
      <img src="img/xeNdIs9FTpifypZfw9lo_Temperature-100.png">
      <p>Temperature</p>
    </button>
    <button class="button button-energized button-full" style="margin:0;height: 31vh;padding-top:10px;background-color:#0091ea;border-radius:0px;" ui-sref="scheduleLighting">
      <img src="img/bheRUENjSS64QtlBTajr_LightOn-96.png">
      <p>Programar iluminação</p>
    </button>
  </div>
  <div class="button-bar">
    <button class="button button-positive button-full" style="margin:0;height: 31vh;padding-top:10px;background-color:#0091ea;border-radius:0px;" ng-click="buttonAbout()">
      <img src="img/about-100.png">
      <p>Sobre</p>
    </button>
    <button class="button button-assertive button-full" style="margin:0;height: 31vh;padding-top:10px;background-color:#039be5;border-radius:0px;" ng-click="buttonExit()">
      <img src="img/exitSign-96.png">
      <p>Sair</p>
    </button>
  </div>
  </ion-content>
</ion-view>
