<ion-view title="AquaTech" style="bar-dark">
  <ion-content class="has-header">
    <!-- Cor da navbar = #01579b-->
    <div class="button-bar">
    <button class="button button-calm button-menu-card" style="background-color:#0277bd;" ng-click="buttonWaterLevel()">
      <img src="img/water.png">
      <p>Nivel de Água</p>
    </button>
    <button class="button button-balanced button-menu-card" style="background-color:#0288d1;" ng-click="buttonScheduleFood()">
      <img src="img/fishFood.png">
      <p>Programar comida</p>
    </button>
  </div>
  <div class="button-bar">
    <button class="button button-royal button-menu-card" style="background-color:#0288d1;" ui-sref="temperature">
      <img src="img/temperature.png">
      <p>Temperature</p>
    </button>
    <button class="button button-energized button-menu-card" style="background-color:#0091ea;" ui-sref="scheduleLighting">
      <img src="img/lightOn.png">
      <p>Programar iluminação</p>
    </button>
  </div>
  <div class="button-bar">
    <button class="button button-positive button-menu-card" style="background-color:#0091ea;" ng-click="buttonAbout()">
      <img src="img/about.png">
      <p>Sobre</p>
    </button>
    <button class="button button-assertive button-menu-card" style="background-color:#039be5;" ng-click="buttonExit()">
      <img src="img/exit.png">
      <p>Sair</p>
    </button>
  </div>
  </ion-content>
</ion-view>
