<ion-view title="Schedule food" id="page5" style="">
  <ion-content padding="true" class="has-header" style="background-color:#33CD5F;">
    <ion-item id="scheduleLighting-list-item13" style="">Iluminação Atual</ion-item>
    <ion-item class="item-avatar" id="scheduleLighting-list-item12" style="">
      <img src="img/uQ4meeV9SBiCflfxX3WX_LightOn-961.png">
      <h2>Tantos lumens</h2>
      <p>Tanto tempo atras</p>
    </ion-item>
  </div>
  <div class="list card" id="scheduleLighting-card28">
    <ion-item id="scheduleLighting-list-item14" style="">Histórico</ion-item>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </div>
  <div class="list card" id="scheduleLighting-card29">
    <ion-item id="scheduleLighting-list-item16" style="">Timer</ion-item>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </div>
  </ion-content>
</ion-view>
