<ion-view title="Schedule Lighting" id="page4" style="">
  <ion-content padding="true" class="has-header" style="background-color:#0277bd;" ng-controller="scheduleLightingCtrl">
    <div class="list card" id="scheduleLighting-card27">
      <ion-item id="scheduleLighting-list-item13" style="">Iluminação Atual</ion-item>
      <ion-item class="item-avatar" id="scheduleLighting-list-item12" style="">
        <img src="img/lightOnColor.png">
        <h2>{{luminosidade}}</h2>
        <p>Atualizado: {{dataCreate}}</p>
      </ion-item>
    </div>
    <div class="list card" id="scheduleLighting-card28">
      <ion-item id="scheduleLighting-list-item14" style="">Histórico</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <div class="list card" id="scheduleLighting-card29">
      <ion-item id="scheduleLighting-list-item16" style="">Timer</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
