<ion-view title="Temperature" id="page2" style="">
  <ion-content padding="true" class="has-header" style="background-color:#EF473A;" ng-controller="temperatureCtrl">
    <div class="list card" id="temperature-card21">
      <ion-item id="temperature-list-item4" style="">Temperatura Atual</ion-item>
      <ion-item class="item-avatar" id="temperature-list-item3" style="">
        <img src="img/vnEkBV3RjSYc9RNLEHOA_Temperature-96.png">
        <h2>{{temperature}} <code>&deg;</code>C</h2>
        <p>Atualizado: {{dataCreate}}</p>
      </ion-item>
    </div>
    <div class="list card" id="temperature-card26">
      <ion-item id="temperature-list-item10" style="">Histórico</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
