<ion-view title="Water Level" id="page3" style="">
  <ion-content padding="true" class="has-header" style="background-color:#11C1F3;">
    <div class="list card" id="temperature-card21">
      <ion-item id="temperature-list-item4" style="">Temperatura Atual</ion-item>
      <ion-item class="item-avatar" id="temperature-list-item3" style="">
        <img src="img/vnEkBV3RjSYc9RNLEHOA_Temperature-96.png">
        <h2>Tantos C</h2>
        <p>Tanto tempo atras</p>
      </ion-item>
    </div>
    <div class="list card" id="temperature-card26">
      <ion-item id="temperature-list-item10" style="">Histórico</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
