/* Barra azul escuro utilizada em todo o app */
.bar.bar-dark {
    border-color: #01579b;
    background-color: #01579b;
    background-image: linear-gradient(0deg, #01579b, #01579b 50%, transparent 50%);
    color: #fff;
}
.bar.bar-dark .title {
    color: #fff;
}
.bar.bar-dark.bar-footer {
    background-image: linear-gradient(180deg, #e42112, #e42112 50%, transparent 50%);
}

/* Colocando os popup de acordo com a bar-dark */
.popup-head {
  background-color : #0277bd;
}
.popup-title{
  color: white;
}
.popup-container .popup{
  background-color: rgba(255, 255, 255, 1);
}

/* Cards do menu */
.button-menu-card {
    margin:0 !important;
    height: 31vh;
    align-text:left;
    padding-top:10px;
    border-radius:0px !important;
}
